{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "_modal.html" %}
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% translate "Contact Megano" %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'product:home' %}">{% translate "home" %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>{% translate "Contact" %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="{% translate "Shipping & Returns" %}"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% translate "Shipping & Returns" %}</strong>
                <p class="media-text">{{ shop.shipping_policy }}</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="{% translate "Money Back" %}"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% translate "Money Back" %}</strong>
                <p class="media-text">{{ shop.refund_policy }}</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="{% translate "Support Policy" %}"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% translate "Support Policy" %}</strong>
                <p class="media-text">{{ shop.support_policy }}</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/quality.svg' %}" alt="{% translate "Quality Guarantee" %}"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% translate "Quality Guarantee" %}</strong>
                <p class="media-text">{{ shop.quality_policy }}</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% translate "Follow Us" %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'assets/img/icons/socialContent/fb.png' %}" alt="facebook"/>
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/tw.png' %}" alt="twitter"/>
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/gg.png' %}" alt="google+"/>
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/in.png' %}" alt="instagram"/>
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/pt.png' %}" alt="pt.png"/>
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/ml.png' %}" alt="e-mail"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aab0c930ee3de165a0eaa7eab3c5e810a0019bf38d9c3e3b44ca793b8ba10aad9&amp;amp;width=100%25&amp;amp;height=486&amp;amp;lang=ru_RU&amp;amp;scroll=true"></script>
          </div>
          <div class="Contacts Contacts_main">
            <div class="Contacts-block">
              <div class="media">
                <div class="media-image"><img src="{% static 'assets/img/icons/contacts/phone.svg' %}" alt="{% translate "phone" %}"/>
                </div>
                <div class="media-content">
                  {% translate "Phone" %}: {{shop.phone|slice:"0:2"}} ({{shop.phone|slice:"2:5"}}) {{shop.phone|slice:"5:8"}}-{{shop.phone|slice:"8:12"}}-{{shop.phone|slice:"12:15"}}
                  <br>
                  {% translate "Mobile" %}: {{shop.mobile|slice:"0:2"}} ({{shop.mobile|slice:"2:5"}}) {{shop.mobile|slice:"5:8"}}-{{shop.mobile|slice:"8:12"}}-{{shop.mobile|slice:"12:15"}}
                </div>
              </div>
            </div>
            <div class="Contacts-block">
              <div class="media">
                <div class="media-image"><img src="{% static 'assets/img/icons/contacts/address.svg' %}" alt="{% translate "address" %}"/>
                </div>
                <div class="media-content">{{ shop.address }}</div>
              </div>
            </div>
            <div class="Contacts-block">
              <div class="media">
                <div class="media-image"><img src="{% static 'assets/img/icons/contacts/mail.svg' %}" alt="{% translate "mail" %}"/>
                </div>
                <div class="media-content">
                  {% translate "General" %}: {{ shop.email_general }}
                  <br>
                  {% translate "Editor" %}:  {{ shop.email_editor }}
                </div>
              </div>
            </div>
          </div>
          <header class="Section-header Section-header_sm">
            <h2 class="Section-title">{% translate "Contact Form" %}
            </h2>
          </header>
          <form class="form form_contacts" action="/contacts/" method="post">
            <div class="form-group">
              <div class="row">
                <div class="row-block">
                  <input class="form-input" id="name" name="name" type="text" placeholder="{% translate "Name" %}"/>
                </div>
                <div class="row-block">
                  <input class="form-input" id="mail" name="mail" type="text" placeholder="{% translate "Email" %}"/>
                </div>
                <div class="row-block">
                  <input class="form-input" id="site" name="site" type="text" placeholder="{% translate "Website" %}"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-textarea" name="message" id="message" placeholder="{% translate "Message" %}"></textarea>
            </div>
            <div class="form-group" onClick="javascript:this.form.submit();">
              <a class="btn btn_muted form-btn">{% translate "Send Message" %}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock middle %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
