{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  {{seo.title}}
{% endblock %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% translate "Shops" %}
        </h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="{% url 'product:home' %}">{% translate "Home" %}
            </a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>{% translate "Shops" %}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft Section_columnWide">
    <div class="wrap">
      <div class="Section-content Section-content--p0">
        <div class="Cards">
          {% if shops %}
            {% for shop in shops %}
                <div class="Card">
                  {% include "shop/shop_card.html" %}
                </div>
            {% endfor %}
          {% else %}
            <div class="row row--column row_verticalCenter row_maxHalf">
              <div class="row-block">
                <h2>{% translate "There is no shops yet" %}
                </h2>
                <p>{% translate "But soon there will be" %}
                </p>
              </div>
            </div>
          {% endif %}
        </div>
{#        <div class="row row--column row_verticalCenter row_maxHalf">#}
{#            {% if shops %}#}
{#                {% for shop in shops %}#}
{#                  <div class="row-block">#}
{#                    <div class="pict">#}
{#                      <img src="{{ shop.image.url }}" alt="{{ shop.name }}"/>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="row-block">#}
{#                    <h2><a href="{% url 'shop:detail' pk=shop.pk %}">{{ shop.name }}</a>#}
{#                    </h2>#}
{#                    <p>{{ shop.description }}#}
{#                    </p>#}
{#                  </div>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#              <div class="row-block">#}
{#                <h2>There is no shops yet#}
{#                </h2>#}
{#                <p>But soon there will be#}
{#                </p>#}
{#              </div>#}
{#            {% endif %}#}
{#        </div>#}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}
