{% load static %}
{% load i18n %}

{% url 'product:detail' product.id as product_url %}
{% with product.discount as discount %}
<a class="Card-picture" href="{{ product_url }}">
  {% if product.image %}
  <img src="{{ product.image.url }}" alt="{{ product.title }}"/>
  {% endif %}
</a>
<div class="Card-content">
  <strong class="Card-title">
    <a href="{{ product_url }}">{{ product.title }}</a>
  </strong>
  <div class="Card-description">
    <div class="Card-cost">
      {% if discount.type %}
        <span class="Card-priceOld">${{ discount.base }}</span>
      {% endif %}
      {% if discount.base %}
      <span class="Card-price">${{ discount.price }}</span>
      {% else %}
      <span class="Card-price">{% trans 'The product is over' %}</span>
      {% endif %}
    </div>
    <div class="Card-category">{{ product.category }}</div>
    <div class="Card-hover">
      <a id="add-to-view" class="Card-btn product" href="{% url 'user:user_views' product.id %}">
        <img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/>
      </a>
      <a id="add-to-cart"  class="Card-btn product" href="{% url 'order:add_to_cart' product.id %}">
        <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
      </a>
      <a id="add-to-compare" class="Card-btn product" href="{% url 'user:compare_list' product.id %}">
        <img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/>
      </a>
    </div>
  </div>
</div>
{% if discount.type %}
{% if discount.type == "P" %}
    <div class="Card-sale">-{{ discount.value }}%</div>
{% elif discount.type == "S" %}
    <div class="Card-sale">-{{ discount.value }}$</div>
{% elif discount.type == "F"  %}
    <div class="Card-sale">FIX</div>
{% endif %}
{% endif %}
{% endwith %}