{% load static %}
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}">
</script>
<script src="{% static 'assets/plg/form/jquery.form.js' %}">
</script>
<script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}">
</script>
<script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}">
</script>
<script src="{% static 'assets/plg/Slider/slick.min.js' %}">
</script>
<script src="{% static 'assets/js/alertify.min.js' %}">
</script>
<script src="{% static 'assets/js/scripts.js' %}">
</script>
<script src="{% static 'assets/js/bootstrap.min.js' %}">
</script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#login_btn").modalForm({
                formURL: "{% url 'user:login' %}"
              });

    });
    $(document).ready(function() {
        $("#sign_up_btn").modalForm({
                formURL: "{% url 'user:signup' %}"
              });

    });
</script>

<script src="{% static 'js/jquery.inputmask.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".phone").inputmask("+7 (999) 999-99-99");
});
</script>