{% extends "order/order.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block order_form %}
  <p>{% trans "step"|capfirst %} {{ wizard.steps.step1 }} {% trans "of" %} 4</p>
  <input id="order-step" type="hidden"  value="{{ wizard.steps.step1 }}">
  <form class="form order-form" action="" method="post">{% csrf_token %}

    <div class="row">
      <div class="row-block">

        <div class="form-group">
          {{ form.errors.full_name }}
          <label class="form-label" for="full_name">{% trans 'full name'|capfirst %}</label>
          <input class="form-input" id="full_name" name="user_info_form-full_name" type="text" value="{{ form.data.full_name }}" required="required"/>
        </div>

        <div class="form-group">
            {{ form.errors.phone }}
          <label class="form-label" for="phone">{% trans 'phone'|capfirst %}</label>
          <input class="form-input" id="phone" name="user_info_form-phone" type="text" value="{{ form.data.phone }}" required="required"/>
        </div>

        <div class="form-group">
          {{ form.errors.email }}
          <label class="form-label" for="email">{% trans "e-mail"|capfirst %}</label>
          <input class="form-input" id="email" name="user_info_form-email" type="text" value="{{ form.data.email }}" data-validate="require" required="required"/>
        </div>
      </div>
      {% if request.user.is_anonymous %}
        <div class="row-block">
        <div class="form-group">
          {{ form.errors.password1 }}
          <label class="form-label" for="password">{% trans 'password'|capfirst %}</label>
          <input class="form-input" id="password" name="user_info_form-password1" type="password" placeholder="{% trans 'type your password'|capfirst %}"/>
        </div>

        <div class="form-group">
          {{ form.errors.password2 }}
          <label class="form-label" for="passwordReply">{% trans 'confirm password'|capfirst %}</label>
          <input class="form-input" id="passwordReply" name="user_info_form-password2" type="password" placeholder="{% trans 'retype password'|capfirst %}"/>
        </div>

        <div class="form-group">
          <a id="order-login-btn" class="btn btn_muted Order-btnReg">{% trans 'I already have account' %}</a>
        </div>
      </div>
      {% else %}
        <div class="row-block"></div>
      {% endif %}
    </div>
    <div class="Order-footer">

        {% if wizard.steps.prev %}
          <button class="btn btn_success order-prev-step" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}

        {% if wizard.steps.next %}
          <button class="btn btn_success" name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">{% trans "next step" %}</button>
        {% endif %}
      </div>
  </form>
{% endblock %}

