{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load user_tags %}
{% load cache %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "_modal.html" %}
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% trans 'Password reset' %}</h1>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class="wrap">
        <div class='row'>
            <div class='col-md-4 col-10  mx-auto'>
                <h1>{% trans "Reset your Password" %}</h1>
                <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn_primary'>{% trans "Reset Password" %}</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}
