{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load user_tags %}
{% load cache %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "_modal.html" %}
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'password reset' %}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class='row'>
                <h1>{% trans "Password reset complete" %}</h1>
                <button id="login_btn_reset" class="btn btn_primary">{% translate "login" %}</button>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}
