{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div class="actions">
        <p>Clear cache</p>
        <form action="clear_cache/" method="POST">
            {% csrf_token %}
            <button type="submit" name="category" value="0" class="button">Category list</button>
            <button type="submit" name="product" value="0" class="button">Catalog</button>
            <button type="submit" name="top_product" value="0" class="button">Top-product list</button>
            <button type="submit" name="banner" value="0" class="button">Banner list</button>
            <button type="submit" name="product_detail" value="0" class="button">Product detail</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}