{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div class="actions">
        <p>Clear cache</p>
        <form action="clear_cache/" method="POST">
            {% csrf_token %}
            <button type="submit" name="cache" value="category_list" class="button">Category list</button>
            <button type="submit" name="cache" value="product_list" class="button">Catalog</button>
            <button type="submit" name="cache" value="top_product_list" class="button">Top-product list</button>
            <button type="submit" name="cache" value="banner_list" class="button">Banner list</button>
            <button type="submit" name="cache" value="product_detail_cache" class="button">Product detail</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}