{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load order_tags %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% trans "Order" %} №{{ order.id }}</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="{% url 'product:home' %}">{% trans "home" %}</a>
          </li>
          <li class="breadcrumbs-item">
            <a href="{% url 'user:user_orders_list' pk=user.pk %}">{% trans "Order history" %}</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>{% trans "Order" %} №{{ order.id }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class="wrap">
      <div class="Section-content">
        <div class="Orders"></div>
        <div class="Order">
          <div class="Order-infoBlock">
            <div class="Order-personal">
              <div class="row">
                <div class="row-block">
                  <div class="Order-info Order-info_date">
                    <div class="Order-infoType">{% trans "Order date" %}:</div>
                    <div class="Order-infoContent">{{ order.datetime|date:"d.m.y" }}</div>
                  </div>
                  {% with order.user_id as user %}
                  <div class="Order-info">
                    <div class="Order-infoType">{% trans "Full name"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ user.get_full_name }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">{% trans "Phone"|capfirst %}:</div>
                    {% phone_normalize phone=user.phone as phone %}
                    <div class="Order-infoContent">{{ phone }}
                    </div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">{% trans "E-mail"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ user.email }}</div>
                    {% endwith %}
                  </div>
                </div>
                <div class="row-block">
                  <div class="Order-info Order-info_delivery">
                    <div class="Order-infoType">{% trans "Type of delivery"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.delivery_id.delivery_type }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">{% trans "City"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.delivery_id.city }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">{% trans "Address"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.delivery_id.address }}</div>
                  </div>
                  <div class="Order-info Order-info_pay">
                    <div class="Order-infoType">{% trans "Payment"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.get_payment_type_display }}</div>
                  </div>
                  <div class="Order-info Order-info_status">
                    <div class="Order-infoType">{% trans "Status"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.get_state_display }}</div>
                  </div>
                  {% if order.error %}
                  <div class="Order-info Order-info_error">
                    <div class="Order-infoType">{% trans "Payment failed"|capfirst %}:</div>
                    <div class="Order-infoContent">{{ order.get_error_display }}</div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="Cart Cart_order">
              {% with order.get_order_entity as entity_list %}
              {% if entity_list %}
              {% for entity in entity_list %}
              {% with entity.stock_id.product as product %}
              <div class="Cart-product">
                {% url 'product:detail' product.id as product_url %}
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_pict">
                    <a class="Cart-pict" href="{{ product_url }}">
                      {% if product.image %}
                      <img class="Cart-img" src="{{ product.image.url }}" alt="card.jpg"/>
                      {% else %}
                      <img class="Cart-img" src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
                      {% endif %}
                    </a>
                  </div>
                  <div class="Cart-block Cart-block_info">
                    <a class="Cart-title" href="{{ product_url }}">{{ product.title }}</a>
                    <div class="Cart-desc">{{ product.short_description }}</div>
                  </div>
                  <div class="Cart-block Cart-block_price">
                    {% if entity.discounted_price %}
                    <div class="Cart-price">{{ entity.discounted_price }}$</div>
                    {% else %}
                    <div class="Cart-price">{{ entity.price }}$</div>
                    {% endif %}
                  </div>
                </div>
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_seller">
                    <div>{% trans "shop"|capfirst %}:</div>
                    <div>{{ entity.stock_id.shop }}</div>
                  </div>
                  <div class="Cart-block Cart-block_amount">{{ entity.count }} шт.</div>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% endif %}
              {% endwith %}
              
              <div class="Cart-total">
                <div class="Cart-block Cart-block_total">
                  <div>
                    <span class="Cart-block Cart-block_amount">{% trans 'delivery'|capfirst %}: {{ order.delivery_id.price }}$</span>
                  </div>
                  <strong class="Cart-title">
                    {% trans "total"|capfirst %}:
                    {% with order.discounted_sum_order as discounted_sum_order and order.sum_order as sum_order %}
                    {% if discounted_sum_order == sum_order %}
                      <span class="Cart-price">{{ sum_order }}$</span>
                    {% else %}
                      <span class="Cart-price">{{ discounted_sum_order }}$</span>
                      <span class="Cart-price_old">{{ sum_order }}$</span>
                    {% endif %}
                    {% endwith %}
                  </strong>
                </div>
                {% if order.state == 'not paid' %}
                <div class="Cart-block">
                  <a class="btn btn_primary btn_lg" href="#">{% trans "To pay" %}</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}