{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}


{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "_modal.html" %}
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
  <div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% trans 'checkout' %}</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="{% url 'product:home' %}">{% trans "home" %}</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>{% trans 'checkout' %}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnRight Section_columnWide Order">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">{% trans 'progress'|capfirst %}</strong>
          </header>
          <div class="Section-columnContent">
            <ul class="menu menu_vt Order-navigate">
              <li class="menu-item_ACTIVE menu-item" value="1">
                <a class="menu-link order-navigate-link" href="user_info_form">
                  {% trans 'step'|capfirst %} 1 {% trans 'user info'|capfirst %}
                </a>
              </li>
              <li class="menu-item" value="2">
                <a class="menu-link order-navigate-link" href="delivery_form">
                  {% trans 'step'|capfirst %} 2 {% trans 'delivery type'|capfirst %}
                </a>
              </li>
              <li class="menu-item" value="3">
                <a class="menu-link order-navigate-link" href="payment_form">
                  {% trans 'step'|capfirst %} 3 {% trans 'payment type'|capfirst %}
                </a>
              </li>
              <li class="menu-item" value="4">
                <a class="menu-link order-navigate-link" href="confirm">
                  {% trans 'step'|capfirst %} 4 {% trans 'confirmation'|capfirst %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="Section-content">
        {% block order_form %}
          order_form
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}
