{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% load category_list %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">Account</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item"><a href="{% url 'product:home' %}">{% trans "home" %}</a></li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans "Account" %}</span></li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      {% include 'user/inc/_navigate_profile.html' %}
      <div class="Section-content">
        <div class="Account">
          <div class="Account-group">
            <div class="Account-column">
              <div class="Account-avatar">
                {% if request.user.avatar %}
                <img src="{{ user.avatar.url }}" alt="card.jpg"/>
                {% else %}
                <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
                {% endif %}
              </div>
            </div>
            <div class="Account-column">
              <div class="Account-name">{{ user.get_full_name }}
              </div><a class="Account-editLink" href="{% url 'user:user_profile' pk=user.id %}">{% trans "Edit Profile" %}</a>
            </div>
          </div>
          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <div class="Order Order_anons">
                <div class="Order-personal">
                  {% if last_order %}
                  <div class="row">
                    <div class="row-block">
                      <a class="Order-title" href="{% url 'order:order_detail' pk=last_order.pk %}">
                        Заказ&#32;
                        <span class="Order-numberOrder">№{{ last_order.id }}</span>
                        &#32;от&#32;
                        <span class="Order-dateOrder">{{ last_order.datetime.date|date:"d.m.Y" }}</span>
                      </a>
                      <div class="Account-editLink">
                        <a href="{% url 'user:user_orders_list' request.user.id %}">{% trans "Order history" %}</a>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">{% trans "Type of delivery" %}:</div>
                        <div class="Order-infoContent">{{ last_order.delivery_id }}</div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">{% trans "Payment" %}:</div>
                        <div class="Order-infoContent">{{ last_order.get_payment_display }}</div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans "Total cost" %}:</div>
                        <div class="Order-infoContent">{{ last_order.discounted_sum_order }}$</div> 
                      </div>
                      <div class="Order-info Order-info_status">
                        <div class="Order-infoType">{% trans "Status" %}:</div>
                        <div class="Order-infoContent">{{ last_order.get_state_display }}</div>
                      </div>
                      {% if last_order.error %}
                      <div class="Order-info Order-info_error">
                        <div class="Order-infoType">{% trans "Payment failed" %}:</div>
                        <div class="Order-infoContent">{{ last_order.get_error_display }}</div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% else %}
                  <div class="row-block">{% trans "You don't have any orders" %}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">{% trans "Viewing history" %}
                </h2>
              </header>
              {% if product_view %}
              <div class="Cards Cards_account">
                {% if product_view.0 %}
                  {% with product_view.0.product_id as product %}
                  
                  <div class="Card">
                    {% include "card.html" %}
                  </div>
                  {% endwith %}
                {% endif %}
                {% if product_view.1 %}
                  {% with product_view.1.product_id as product %}
                  
                  <div class="Card hide_700">
                    {% include "card.html" %}
                  </div>
                  {% endwith %}
                {% endif %}
                {% if product_view.2 %}
                  {% with product_view.2.product_id as product %}
                  
                  <div class="Card hide_md">
                    {% include "card.html" %}
                  </div>
                  {% endwith %}
                {% endif %}
              </div>
              <div class="Account-editLink Account-editLink_view">
                <a href="{% url 'user:user_views' request.user.id %}">{% trans "Go to the full list" %}</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}