{% extends "base.html" %}
{% load static %}
{% load user_tags %}

{% block title %}
  {{seo.title}}
{% endblock %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "header.html" %}
  </header>
{% endblock %}

{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">История просмотра
        </h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item"><a href="{% url 'product:home' %}">home</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span>История просмотра</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      {% include 'user/inc/_navigate_profile.html' %}
      <div class="Section-content">
      {% if views_list %}
        <div class="Cards">
          {% for view in views_list %}
          <div class="Card">
            <a class="Card-picture" href="{% url 'product:products_detail' %}">
              {% if view.product_id.image %}
              <img src="{{ view.product_id.image.url }}" alt="card.jpg"/>
              {% else %}
              <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
              {% endif %}
            </a>
            <div class="Card-content">
              <strong class="Card-title"><a href="{% url 'product:products_detail' %}">{{ view.product_id.short_description }}</a>
              </strong>
              <div class="Card-description">
                <div class="Card-cost">
                {% get_avg_price view as avg_price_list %}
                  {% if avg_price_list.avg_price_new %}
                  <span class="Card-priceOld">${{ avg_price_list.avg_price }}</span>
                  <span class="Card-price">${{ avg_price_list.avg_price_new }}</span>
                  {% else %}
                  <span class="Card-price">${{ avg_price_list.avg_price }}</span>
                  {% endif %}
                </div>
                <div class="Card-category">{{ view.product_id.category }}</div>
                <div class="Card-hover">
                  <a class="Card-btn" href="{% url 'user:user_views' request.user.id %}"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/></a>
                  <a class="Card-btn" href="{% url 'order:cart' %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  <a class="Card-btn" href="{% url 'product:compare_list' %}"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>
                </div>
              </div>
            </div>
            {% if avg_price_list.max_discount %}
            <div class="Card-sale">-{{ avg_price_list.max_discount }}%</div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}