{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  {% include "head.html" %}
{% endblock %}

{% block header %}
  <header class="Header">
    {% include "_modal.html" %}
    {% include "header.html" %}
  </header>
{% endblock %}


{% block middle %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% translate "discounts" %}</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="{% url 'product:home' %}">{% translate "home" %}</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>{% translate "discounts" %}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class="wrap">
      <div class="Cards Cards_blog">
        {% for sale in sales %}
        <div class="Card">
          {% comment %} <a class="Card-picture" href="{% url 'product:detail' %}"> {% endcomment %}
            {% if sale.discount_type == "PD" %}
            <img src="{% static 'discount/img/percent_sale.jpg' %}" alt="{% translate 'percent sale' %}"/>
            {% elif sale.discount_type == "BD" %}
            <img src="{% static 'discount/img/basket_sale.jpg' %}" alt="{% translate 'basket sale' %}"/>
            {% elif sale.discount_type == "SD" %}
            <img src="{% static 'discount/img/set_sale.jpg' %}" alt="{% translate 'set sale' %}"/>
            {% else %}
            <img src="{% static 'discount/img/base.jpg' %}" alt="{% translate 'unknown sale type' %}"/>
            {% endif %}
          {% comment %} </a> {% endcomment %}
          <div class="Card-date">
            <strong class="Card-date-number">{{ sale.start_at|date:'j' }}
            </strong><span class="Card-date-month">{{ sale.start_at|date:'b' }}</span>
          </div>
          {% if sale.finish_at %}
          <div class="Card-date Card-date_to">
            <strong class="Card-date-number">{{ sale.finish_at|date:"j" }}
            </strong><span class="Card-date-month">{{ sale.finish_at|date:"b" }}</span>
          </div>
          {% endif %}
          {% comment %} <div class="Card-pin"></div> {% endcomment %}
          <div class="Card-content">
            {% comment %} <strong class="Card-title"> {% endcomment %}
              {% comment %} <a href="{% url 'product:detail' %}">Basic Time Management Advanced Course</a> {% endcomment %}
            {% comment %} </strong> {% endcomment %}
            <div class="Card-description">{{ sale.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="Pagination">
  <div class="Pagination-ins">
    {% if page_obj.has_previous %}
      <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
        <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="<<"/>
      </a>
      <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
        <span class="Pagination-text">{{ page_obj.previous_page_number }}</span>
      </a>
    {% endif %}
    <span class="Pagination-element Pagination-element_current">
      <span class="Pagination-text">{{ page_obj.number }}</span>
    </span>
    {% if page_obj.has_next %}
      <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
        <span class="Pagination-text">{{ page_obj.next_page_number }}</span>
      </a>
      <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
        <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt=">>"/>
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}
